# Core behavior
zmodule environment
zmodule input
zmodule utility
zmodule termtitle

# Productivity
zmodule git
zmodule ssh
zmodule homebrew
zmodule fzf
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-history-substring-search

# Prompt handled via zsh/themes/prompt_holmes.zsh
